@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.App {
  text-align: center;
  font-family: "Lato" !important;
}

.App-logo {
  height: 150px;
}

.App-logo[aria-busy="true"] {
  animation-name: ckw;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes ckw {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.App-link {
  color: #3842C1;
}

.App-input {
  font-size: calc(10px + 2vmin);
  margin-right: 25px;
}

.App-button {
  background-color: #3842C1;
  color: #ffffff;
  /* border: #ffffff solid 3px; */
  border-radius: 10px;
  padding-bottom: 35px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.App-button:active {
  background-color: #ffffff;
  color: #3842C1;
  border-color: #3842C1;
}

.App-button:disabled {
  background-color: #e0e0e0;
}

.App-error {
  color: #ff5050;
  font-family: monospace;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

/* .antd-card-title {
  text-overflow: unset !important;
  white-space: unset !important;
} */

/* .rating-container {
  margin: auto;
  width: 50%;
} */

/* .rating-select-container {
  width: 400px;
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
} */

.page-title {
  font-family: "Lato";
  font-size: 80px;
}

.ant-card-meta-title {
  white-space: pre-line !important;
}

.book-list-container {
  margin: auto;
  width: 50%;
}
